/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');

h1 {
    font-family: 'Ranchers', cursive;
}

.perfect-center {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}